# modules
node_modules/

# database
*.sqlite3

# folders
dist/

# container data
data/

# user uploads
user/

# environment
.env

# vscode extensions
.vscode/

# live server files
output.css
formHandlers.js
selectView.js