# modules
node_modules/

# database
*.sqlite3

# folders
dist/

# container data
data/

# user uploads
user/

# environment
.env

# vscode extensions
.vscode/

# modules
node_modules/

# database
*.sqlite3

# folders
dist/

# container data
data/

# user uploads
user/

# environment
.env

# vscode extensions
.vscode/