# databases
database/
*.sqlite3

# folders
dist/

# user uploads
user_uploads/

# environment
.env

# vscode extensions
.vscode/

# live server files
output.css
formHandlers.js
selectView.js
pullUsername.js
# idea
.idea/

# modules
node_modules/
