html, body {
    height: 100%; /* Ensure the HTML and body elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('assets/background.jpg'); /* Path to your background image */
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Optional: Fix the background image in place */
}

/* Style for the welcome message at the top */
.welcome-message {
    position: absolute; /* Position the message relative to .your-element */
    top: 30px; /* Move it into the top border */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /*Adjust for centering */
    color: white; /* Make the text stand out on the orange background */
    font-weight: bold; /* Make the text bold */
    font-size: 3em; /* Adjust font size */
    padding: 5px 10px; /* Add padding for better appearance */
}


.image-container {
    height: 640px; /* Make the container fill the full height of the page */
    width: 640px;
	position: absolute;
	left: 25%;
	top: 10%;
	display: grid;
	grid-template-columns: repeat(4, 150px); /* Create 4 columns */
	grid-template-rows: repeat(4, 150px); /* Fixed height for each row */
    gap: 20px; 
    padding: 10px;
	margin-top: 80px;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.is-flipped {
    transform: rotateY(180deg); /* Flip the card */
}
.card.hidden {
   opacity: 0;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card .front {
     transform: rotateY(-180deg);
}

.restart-button {
	position: absolute;
	left: 50%;
	top: 75%;
}

.scoreboard {
    position: absolute;
    top: 20px; /* Adjust as needed */
    font-size: 30px; /* Adjust font size as needed */
    color: white; /* Adjust text color as needed */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
}

.scoreboard-left {
	top: 10%;
	left: 5%;
}

.scoreboard-right{
	top: 10%;
	right: 5%;
}