@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  @keyframes rainbow {
    0% {
      border-color: red;
      box-shadow: 0 0 20px red;
    }
    10% {
      border-color: orange;
      box-shadow: 0 0 20px orange;
    }
    20% {
      border-color: yellow;
      box-shadow: 0 0 20px yellow;
    }
    30% {
      border-color: lime;
      box-shadow: 0 0 20px lime;
    }
    40% {
      border-color: green;
      box-shadow: 0 0 20px green;
    }
    50% {
      border-color: cyan;
      box-shadow: 0 0 20px cyan;
    }
    60% {
      border-color: blue;
      box-shadow: 0 0 20px blue;
    }
    70% {
      border-color: indigo;
      box-shadow: 0 0 20px indigo;
    }
    80% {
      border-color: violet;
      box-shadow: 0 0 20px violet;
    }
    90% {
      border-color: pink;
      box-shadow: 0 0 20px pink;
    }
    100% {
      border-color: red;
      box-shadow: 0 0 20px red;
    }
  }

  @keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .pong-canvas {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
  }

  .animate-rainbow {
    animation: rainbow 20s infinite;
  }

  .animate-scrollLeft {
    animation: scrollLeft 20s linear infinite;
  }

  .font-comic {
    font-family: "Comic", sans-serif;
  }

  /* Background images */
  .bg-stars {
    background-image: url("/assets/backgrounds/movingStars.gif"); /* Note: no /public prefix */
  }

  /* Background size */
  .bg-size-20 {
    background-size: 20%;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #fed7e2 #000000;
  }

  .toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .toast {
    background-color: #000000;
    color: #fed7e2;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-in-out forwards;
  }
}

@font-face {
  font-family: "Comic";
  src: url("/assets/font/comicsans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* TODO delete this */
dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 2rem;
  z-index: 50;
  background-color: #000000;
  color: #fed7e2;
  border-width: 4px;
  border-style: groove;
}
