<div class="m-0 p-4 font-comic overflow-hidden box-border h-screen w-screen bg-stars bg-10% text-pink-200 flex flex-col justify-between">
  <div class="flex items-center justify-center flex-grow">
    <canvas id="myCanvas" class="bg-black border-8 animate-rainbow w-[90vw] h-[80vh]"></canvas>
  </div>

  <div class="flex justify-between items-end mt-4 text-sm sm:text-base">
    <div class="bg-purple-950/60 p-2 rounded-md max-w-[50vw] font-bold">
      <!-- depending on how many users, display username and score here -->
      <p>Oliver: 6</p>
      <p>Milana: 6</p>
      <p>Michelle: 6</p>
    </div>
    <!-- make button quit the game for all users and redirect to rooms page? -->
    <button id="quitButton" class="px-3 py-2 sm:px-6 sm:py-4 rounded-md bg-purple-700 hover:bg-purple-950">Quit game</button>
  </div>
</div>
