<div class="m-0 p-0 font-comic overflow-y-hidden box-border flex h-screen w-screen items-center justify-center bg-stars bg-10% text-pink-200">
	<div class="flex flex-col w-1/2 h-full bg-black p-5 text-center border-8 animate-rainbow">
		<div class="flex justify-center items-center p-16">
			<img src="https://i.picasion.com/gl/92/kjzM.gif" width="750" height="80">
		</div>
		<div class="gap-4 bg-purple-700">
			<button class="px-6 py-4 rounded-md hover:bg-purple-950" page="home">Home</button>
			<button class="px-6 py-4 rounded-md hover:bg-purple-950" page="login">Log in</button>
		</div>
		<div>
			<p class="p-16">Register here! ʕ◉ᴥ◉ʔ</p>
		</div>
		<div>
			<form id="registrationForm">
				<div>
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="text" id="password" name="password" required>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<div class="fixed bottom-0 left-0 w-full overflow-hidden pointer-events-none h-20">
	<div class="w-[100%] animate-scrollLeft">
		<img src="../assets/gifs/ufo.gif" alt="scrolling gif" class="h-full" />
	</div>
</div>
